<div class="row">
	<%= image_tag "logo/odhk.png", :class => 'logo' %>
</div>
<div class="container">
  <div class="row">
    <div class="span9">
      	<header><h2>ABOUT US</h2></header>
      	<section>
		<div class="image-container span9">
          <%= image_tag "1.jpg" %>
        </div>
      	
		<p>The <i>Open Data Hong Kong Community</i> is an open, participative, volunteer-run group composed of Hong Kong citizens who support Open Data. Anyone can join, take part and lead.</p>
		<p>We welcome anyone who supports Open Data, such as engaged citizens who appreciate government transparency, analysts who study data, researchers studying public trends, programmers who like to visualize data, app developers who want to provide valuable data-driven apps, and public servants who want to engage the public using their data.</p>

		<p>Members of the community support Open Data in Hong Kong by:</p>
		<ul>
		<li>Raising understanding about Open Data and its benefits;</li>
		<li>Facilitating collaborations among Open Data suporters;</li>
		<li>Advocating for increased availability and quality of Open Data.</li>
		</ul>
		<ul>
		<p>We do this by:</p>
		<li>Collecting and providing resources about Hong Kong Open Data;</li>
		<li>Organising events for the community to connect, collaborate, share, and understand;</li>
		<li>Liaising with the government of Hong Kong and other sectors to facilitate the release and improved quality of Open Data.</li>
		</ul>


      	</section>
      	<footer>
      		<div class="label pull-right">Next Event</div>
      		<p>Our events usually take place every three weeks in <a href="http://goo.gl/maps/s9RJI">Wan Chai</a>. Please check our <a href="events.html">events page</a> for the next event. 
      		<ul>
      			<li>See <a href="/events">our events page</a></li>
      		</ul>
      	</footer>
      </div><!--/span-->
    <div class="span3 notice">
			<h4>Contact Us</h4>
			<p>3 ways to contact us:<p>
			<ul>
			<li>Email: <a href="mailto:info@OpenDataHK.com">info@OpenDataHK.com</a></li>
			<li><a href="https://plus.google.com/communities/107947866980791843501" target="_blank">Leave a comment on our Google+ page</a></li>
			<li>Come to one of our regular meetups or events and engage with the community.</li>
			</ul>
Please feel free to sign up to our<a href="/mailchimp.html">OpenDataHK mailing list</a>
		</div>
  	</div>
  </div><!--/row-->
</div><!--/container-->

