<div class="container about">
       <div class="hero-unit">
            <div class="call-to-action">
             <h2>About Us</h2>
             </div>
	        <p>The <i>Open Data Hong Kong Community</i> is an open, participative, volunteer-run group composed of Hong Kong citizens who support Open Data. Anyone can join, take part and lead.</p>
			<p>We welcome anyone who supports Open Data, such as engaged citizens who appreciate government transparency, analysts who study data, researchers studying public trends, programmers who like to visualize data, app developers who want to provide valuable data-driven apps, and public servants who want to engage the public using their data.</p>

			<p>Members of the community support Open Data in Hong Kong by:</p>
			<ul>
			<li>Raising understanding about Open Data and its benefits;</li>
			<li>Facilitating collaborations among Open Data suporters;</li>
			<li>Advocating for increased availability and quality of Open Data.</li>
			</ul>
			<p>We do this by:</p>
			<ul>
			<li>Collecting and providing resources about Hong Kong Open Data;</li>
			<li>Organising events for the community to connect, collaborate, share, and understand;</li>
			<li>Liaising with the government of Hong Kong and other sectors to facilitate the release and improved quality of Open Data.</li>
			</ul>
        </div>

    <section id="details">
        <div class="row">
            <div class="span12">
                <div class="event-panel">
                   <h2>Contact Us</h2>
					<p>3 ways to contact us:<p>
					<ul>
						<li>Email: <a href="mailto:info@OpenDataHK.com">info@OpenDataHK.com</a></li>
						<li><a href="https://plus.google.com/communities/107947866980791843501" target="_blank">Leave a comment on our Google+ page</a></li>
						<li>Come to one of our regular meetups or events and engage with the community.</li>
					</ul>
			<h3>Sign up for our mailing list.</h3>
            <p>Your email will only be used to send you updates about the community and our events. We promise not to share your email with anyone, or send you too many emails. We usually send an email every 3 weeks, but no more than once a week. 
</p>
      	<footer>
			<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn pull-right">
      		<div id="mc_embed_signup">
				<form action="http://opendatahk.us5.list-manage.com/subscribe/post?u=a0e9926f917f4013e5558f672&amp;id=84ad0042be" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				</form>
			</div>

      	</footer>
                </div>
            </div>
        </div>
    </section>

