<div class="container about">
       <div class="hero-unit">
            <div class="call-to-action">
             <h2>About Us</h2>
             </div>
	        <p>The <i>OpenDataHK</i> is an open, participative, volunteer-run group of Hong Kong citizens who support Open Data, founded in March 2013. Anyone is welcome to join, take part and lead.</p>
			<p>We are engaged citizens. Members are people who value government transparency. Some of us are analysts who study data, others are researchers of public trends, programmers who work with data visualisation, people developing data-driven apps, public servants who want to open governemnt data to the public, to name just a few.</p>

			<p>What we do:</p>
			<ul>
			<li>Raise awareness and share knowledge about Open Data and its benefits;</li>
			<li>Facilitate collaborations among Open Data suporters;</li>
			<li>Advocate for increased availability and quality of Open Data.</li>
			</ul>
			<p>We do this by:</p>
			<ul>
			<li>Collecting and providing resources about Hong Kong Open Data;</li>
			<li>Organising events for the community to connect, collaborate, share, and understand;</li>
			<li>Liaising with the Hong Kong government and other sectors to facilitate the release and improved quality of Open Data.</li>
			</ul>
        </div> We meet in a casual setting every three weeks on a Thursday evening to talk Open Data. Our meetings start with a basic introdction to open data, followed by discussion of our goals and progress, knowledge sharing, welcoming new people to the group. Occasionally, we invite guest speakers.
        If you'd like to know more, join one of our online communities, shoot us an email, and/or come along to Delaney's Wanchai on a Thursday night. See the events page for the exact dates of our Thursday meetings, as well as other events.
        Take at look at our Projects page to see some of the ways Open Data can be applied for the benefit of Hong Kong people. 
        
        <div class="about-details hide">
        <p>People
Mart van de Ven - Founder
Wai-Chung Bastien - Founder
Guy Freeman - Data Scientist
Matt Nodurfth - Instructor
Darcy Christ - Journalism and Policy Analyst
Kit Ho - Programmer
Olivia Rosenman - Data Journalist
Scott Drummond - Ecosystem Coordinator


Partnerships

The Data Journalism Lab, School of Journalism and Media Centre, The University of Hong Kong (HKU-JMSC); Collaborate with the JMSC’s OpenGov project.  They encouraged journalism students to come to the Make.01 hackathon event.
The Government of the Hong Kong Special Administrative Region, Office of the Chief Information Officer, Public Sector Information Team, which runs the Data.One site, HK’s PSI open data platform.  
The Good Lab provided space for the Make.01 hackathon.. The Good Lab is a creative co-working and social space for Hong Kong.  It’s Board of Directors is made up of influential social entrepreneurs in Hong Kong. 
	•	Ada Wong, Convenor, Make A Difference (MaD), Hon Chief Executive, Hong Kong Institute of Contemporary Culture, Supervisor, HKICC Lee Shau Kee School of Creativity
	•	Patrick Cheung, Founder and Chairman, Dialogue in the Dark Hong Kong, Chairman, Hong Kong Social Entrepreneurship Forum
	•	Dr Ka Kui Tse, Founder and CEO, Education for Good CIC, Co-founder, Dialogue in the Dark Hong Kong, Founding Chair, Hong Kong Social Entrepreneurship Forum
	•	Francis Ngai, CEO, Social Ventures Hong Kong
	•	Vincent Wong, CEO, Sow Ideas

</p>
        </div>
	<a onclick="$('.about-details').slideToggle()">More</a>


    <section id="details">
        <div class="row">
            <div class="span12">
                <div class="event-panel">
                   <h2>Contact Us</h2>
					<p>3 ways to contact us:<p>
					<ul>
						<li>Email: <a href="mailto:info@OpenDataHK.com">info@OpenDataHK.com</a></li>
						<li><a href="https://plus.google.com/communities/107947866980791843501" target="_blank">Leave a comment on our Google+ page</a></li>
						<li>Come to one of our regular meetups or events and engage with the community.</li>
					</ul>
			<h3>Sign up for our mailing list.</h3>
            <p>Your email will only be used to send you updates about the community and our events. We promise not to share your email with anyone, or send you too many emails. We usually send an email every 3 weeks, but no more than once a week. 
</p>
      	<footer>
			<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn pull-right">
      		<div id="mc_embed_signup">
				<form action="http://opendatahk.us5.list-manage.com/subscribe/post?u=a0e9926f917f4013e5558f672&amp;id=84ad0042be" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				</form>
			</div>

      	</footer>
                </div>
            </div>
        </div>
    </section>

