<div class="row">
	<%= image_tag "logo/odhk.png", :class => 'logo' %>
</div>
<div class="container">
  <div class="row">
    <div class="span9">
      	<header><h2>ABOUT US</h2></header>
      	<section>
		<div class="image-container span9">
          <%= image_tag "1.jpg" %>
        </div>
      	
		<p>The Open Data Hong Kong Community is an open, participative, volunteer-run group composed of Hong Kong citizens who support Open Data. Anyone can join, take part and lead.</p>
		<p>Some of us in the community are programmers and developers who like to develop apps using Open Data. Others are researchers and analysts who love data to better understand trends in Hong Kong. Some are even public servants of Hong Kong's government wanting to work with citizens to improve government services. We're mainly a bunch of people in Hong Kong interested in Open Data. </p>

		<p>Members of the community support Open Data in Hong Kong by:</p>
		<ul>
		<li>Raising understanding about Open Data and its benefits;</li>
		<li>Facilitating collaborations among Open Data suporters;</li>
		<li>Advocating for increased availability of Open Data.</li>
		</ul>
		<ul>
		<p>We do this by:</p>
		<li>Collecting and providing resources about Hong Kong Open Data;</li>
		<li>Organising events for the community to connect, collaborate, share, and understand;</li>
		<li>Liaising with the government of Hong Kong and other sectors to facilitate the release of Open Data.</li>
		</ul>


      	</section>
      	<footer>
      		<div class="label pull-right">Next Event</div>
      		<ul>
      			<li>Venue: Delaney's</li>
      			<li>Date: Monday, 23 June 2013</li>
      			<li>Address: 190 Lockhart Rockhart Road</li>
      		</ul>
      	</footer>
      </div><!--/span-->
    <div class="span3 notice">
			<h4>Our Names</h4>
			<p>People keeping the lights on at least until June 1, 2013:</p>
			<ul>
			<li>Bastien - @BWaiC - bastien-at-OpenDataHK.com </li>
			<li>Mart - m-at-OpenDataHK.com</li>
			<li>Waltraut - waltraut-at-OpenDataHK.com</li>
			</ul>
			<p>Since we're an open and participatory community, we'll always be looking for others to take the helm with keeping the lights on. </p>
			<h4>Contact Us</h4>
			<p>3 ways to contact us:<p>
			<ul>
			<li>Email: info@OpenDataHK.com</li>
			<li>Leave a comment on our Google+ page</li>
			<li>Come to one of our regular meetups or events and engage with the community.</li>
			</ul>
			<a href="/">Join OpenDataHK</a>
		</div>
  	</div>
  </div><!--/row-->
</div><!--/container-->

