<div class="container">
  <div class="row">
    <div class="span8 offset2">
      	<header><h2>How We Do Things</h2></header>
      	<section>
		<div class="image-container span8">
          <%= image_tag "1.jpg" %>
        </div>
      	
		<p>The Open Data Hong Kong Community is an open, participative, volunteer-run group composed of Hong Kong citizens who support Open Data. Anyone can join, take part and lead.</p>
		<p>Some of us in the community are programmers and developers who like to develop apps using Open Data. Others are researchers and analysts who love data to better understand trends in Hong Kong. Some are even public servants of Hong Kong's government wanting to work with citizens to improve government services. We're mainly a bunch of people in Hong Kong interested in Open Data. </p>

		<p>Members of the community support Open Data in Hong Kong by:</p>
		<ul>
		<li>Raising understanding about Open Data and its benefits;</li>
		<li>Facilitating collaborations among Open Data suporters;</li>
		<li>Advocating for increased availability of Open Data.</li>
		</ul>
		<ul>
		<p>We do this by:</p>
		<li>Collecting and providing resources about Hong Kong Open Data;</li>
		<li>Organising events for the community to connect, collaborate, share, and understand;</li>
		<li>Liaising with the government of Hong Kong and other sectors to facilitate the release of Open Data.</li>
		</ul>
		<p>The Open Data Hong Kong Community is an open, participative, volunteer-run group composed of Hong Kong citizens who support Open Data. Anyone can join, take part and lead.</p>
		<p>Some of us in the community are programmers and developers who like to develop apps using Open Data. Others are researchers and analysts who love data to better understand trends in Hong Kong. Some are even public servants of Hong Kong's government wanting to work with citizens to improve government services. We're mainly a bunch of people in Hong Kong interested in Open Data. </p>
		<p>The Open Data Hong Kong Community is an open, participative, volunteer-run group composed of Hong Kong citizens who support Open Data. Anyone can join, take part and lead.</p>
		<p>Some of us in the community are programmers and developers who like to develop apps using Open Data. Others are researchers and analysts who love data to better understand trends in Hong Kong. Some are even public servants of Hong Kong's government wanting to work with citizens to improve government services. We're mainly a bunch of people in Hong Kong interested in Open Data. </p>
      	</section>
      	<footer>
      		<div class="label pull-right">Next Event</div>
      		<ul>
      			<li>Venue: Delaney's</li>
      			<li>Date: Monday, 23 June 2013</li>
      			<li>Address: 190 Lockhart Rockhart Road</li>
      		</ul>
      	</footer>
      </div><!--/span-->
  </div><!--/row-->
</div><!--/container-->

