<div class="row">
	<%= image_tag "logo/odhk.png", :class => 'logo' %>
</div>
<div class="container community">
  <div class="row">
    <div class="span4">
      	<header><h2>GOOGLE +</h2></header>
      	<section>
        <div class="image-container span4">
          <a href="https://plus.google.com/communities/107947866980791843501">
          <%= image_tag "logo/g.png" %></a>
        </div>
        <p> Our first and main Social Network Presence. Members discuss and share resources.</p>
        </section>
        <footer>
          <div class="label pull-right">Check Out</div>
          <ul>
            <li>Members: 80</li>
            <li>Date: Friday, 23 March 2013</li>
          </ul>
        </footer>
      </div><!--/span-->
    <div class="span4">
        <header><h2>FACEBOOK</h2></header>
        <section>
        <div class="image-container span4">
          <a href="https://www.facebook.com/OpenDataHK"> <%= image_tag "logo/fb.jpg" %></a>
        </div>
        <p> This page mirrors the events announcements and features occasional discussion</p>
      </section>
        <footer>
          <div class="label pull-right">Check it out</div>
          <ul>
            <li>Members: 0</li>
            <li>Since: Monday, 23 June 2013</li>
          </ul>
        </footer>
      </div><!--/span-->
    <div class="span4">
        <header><h2>MAILING LIST</h2></header>
        <section>
        <div class="image-container span4">
          <%= image_tag "logo/mc.gif" %>
        </div>
            <h3>Sign up for our mailing list.</h3>
            <p>Your email will only be used to send you updates about the community and our events. We promise not to share your email with anyone, or send you too many emails. We usually send an email every 3 weeks, but no more than once a week. 
</p>
      	</section>
      	<footer>
			<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn pull-right">
      		<div id="mc_embed_signup">
				<form action="http://opendatahk.us5.list-manage.com/subscribe/post?u=a0e9926f917f4013e5558f672&amp;id=84ad0042be" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				</form>
			</div>

      	</footer>
      </div><!--/span-->
  </div><!--/row-->
</div><!--/container-->

