<div class="row">
	<%= image_tag "logo/odhk.png", :class => 'logo' %>
</div>
<div class="container">
  <div class="row">
    <div class="span4">
      	<header><h2>GOOGLE +</h2></header>
      	<section>
        <div class="image-container span4">
          <%= image_tag "logo/g.png" %>
        </div>
        <p> Our first and main Social Network Presence. Good for discussion and announcements</p>
        </section>
        <footer>
          <div class="label pull-right">Check Out</div>
          <ul>
            <li>Members: 80</li>
            <li>Date: Friday, 23 March 2013</li>
          </ul>
        </footer>
      </div><!--/span-->
    <div class="span4">
        <header><h2>FACEBOOK</h2></header>
        <section>
        <div class="image-container span4">
          <%= image_tag "logo/fb.jpg" %>
        </div>
        <p> This page mirrors the events announcements and features occasional discussion</p>
      </section>
        <footer>
          <div class="label pull-right">Check out</div>
          <ul>
            <li>Members: 0</li>
            <li>Since: Monday, 23 June 2013</li>
          </ul>
        </footer>
      </div><!--/span-->
    <div class="span4">
        <header><h2>MAILING LIST</h2></header>
        <section>
        <div class="image-container span4">
          <%= image_tag "logo/mc.gif" %>
        </div>
            <h3>Sign up for our mailing list.</h3>
            <p>We send at most 1 e-mail per week, and despite all evidence to the contrary, avvow to never open your data.</p>
      	</section>
      	<footer>
			<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn pull-right">
      		<div id="mc_embed_signup">
				<form action="http://opendatahk.us5.list-manage.com/subscribe/post?u=a0e9926f917f4013e5558f672&amp;id=84ad0042be" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				</form>
			</div>

      	</footer>
      </div><!--/span-->
  </div><!--/row-->
</div><!--/container-->

