/*tested with ipod touch 5th gen on portrait 05-08-2013*/
@media(min-width: 320px) and(max-width: 480px){
	/* 01 About page */

	/* Issues
		01.01. need to fix width on email address for mailchimp
	*/
	.about{
		margin-top: 0;
		padding-bottom: 0;
	}
	h2{
		font-size: 1.5em;
	}
	.hero-unit, .event-panel{
		padding: 40px;
	}
	.event-panel{
		margin-bottom: 0;
	}
	li{
		line-height: 25px;
	}
	ul {
		margin-left: 0;
	}
	/* Mail Chimp email bar */
	#mce-EMAIL{
		width: 84px;
	}
	#mc-embedded-subscribe{
		width: 75px;
		font-size: 1.1em;
	}
	div[class*="span"] footer #mce-EMAIL, div[class*="span"] footer #mc-embedded-subscribe {
		margin: 14px 10px 0;
	}

	/* line height */
	h1, h2, h3{
		line-height: 25px;
	}

	/* 02 Community */

	/* Full image is having varied issues:
	
		02.01. on laptop zoom, image is not centered
		02.02. on mobile, section has too much whitespace

		discoveries:

		02.02. section is overflowing, it's covering content and image
		gonna check with ipad, iphone and touch to check for consistencies
	*/

	section{
		height: 100%;
	}

	#mce-EMAIL{
		width: 100px;
	}
	div[class*="span"] footer #mce-EMAIL, div[class*="span"] footer #mc-embedded-subscribe {
		margin: 14px 14px 0;
	}

	/* line height */
	h1, h2, h3{
		line-height: 25px;
		padding: 0 0.7em;
	}


	/* 03 Events */

	/* Issues
		03.01. needs the most work on mobile, save till last
		03.02. mobile: when clicking on events, takes to map app;
	*/

	/* 04 Projects */

	/* Issues
		04.01. Also needs a lot of work, no padding on mobile, odd
		04.02. tool overlay is pushed to back on mobile
	*/

	/* 05 People */

	/* Issues
		05.01. weird!
		05.02. broken oauth on facebook link
		05.03. need to resize icons for social buttons
	*/

	/* 06 Microbes */

	/* Issues
		06.01. word is overflowing onto image on each "microbe"
	*/

	/* 07 Sign-in */
	/* Sign in also needs editing on desktop version */
	
	/*	
	Following changes the social buttons to fill the sign-in area
	*/
	.auth-bar .li{
		width: 33%;
	}
	.auth-bar ul{
		margin: 0;
	}
	/* Changed the height to make it mobile friendly;*/
	.auth-bar .button{
		height: 44px;
	}
}
@media (min-width: 480px)and(max-width: 768){
	/* 01 About page */

	/* Issues
		01.01. need to fix width on email address for mailchimp
	*/
	.about{
		margin-top: 0;
	}
	h2{
		font-size: 1.5em;
	}
	.hero-unit, .event-panel{
		padding: 40px;
	}
	li{
		line-height: 25px;
	}

	/* Mail Chimp email bar */
	#mce-EMAIL{
		width: 100px;
	}
	div[class*="span"] footer #mce-EMAIL, div[class*="span"] footer #mc-embedded-subscribe {
		margin: 14px 10px 0;
	}

	/* line height */
	h1, h2, h3{
		line-height: 25px;
	}
	/* 02 Community */

	/* Full image is having varied issues:
	
		02.01. on laptop zoom, image is not centered
		02.02. on mobile, section has too much whitespace

		discoveries:

		02.02. section is overflowing, it's covering content and image
		gonna check with ipad, iphone and touch to check for consistencies
	*/

	section{
		height: 100%;
	}

	#mce-EMAIL{
		width: 100px;
	}
	div[class*="span"] footer #mce-EMAIL, div[class*="span"] footer #mc-embedded-subscribe {
		margin: 14px 14px 0;
	}

	/* line height */
	h1, h2, h3{
		line-height: 25px;
		padding: 0 0.7em;
	}


	/* 03 Events */

	/* Issues
		03.01. needs the most work on mobile, save till last
		03.02. mobile: when clicking on events, takes to map app;
	*/

	/* 04 Projects */

	/* Issues
		04.01. Also needs a lot of work, no padding on mobile, odd
		04.02. tool overlay is pushed to back on mobile
	*/

	/* 05 People */

	/* Issues
		05.01. weird!
		05.02. broken oauth on facebook link
		05.03. need to resize icons for social buttons
	*/

	/* 06 Microbes */

	/* Issues
		06.01. word is overflowing onto image on each "microbe"
	*/

	/* 07 Sign-in */
	/* Sign in also needs editing on desktop version */
	
	/*	
	Following changes the social buttons to fill the sign-in area
	*/
	.auth-bar .li{
		width: 33%;
	}
	.auth-bar ul{
		margin: 0;
	}
	/* Changed the height to make it mobile friendly;*/
	.auth-bar .button{
		height: 44px;
	}
}