/*tested with ipod touch 5th gen on portrait 05-08-2013*/
@media(min-width: 320px) and(max-width: 480px){
	/* 01 Index page */

	/* 02 Blog */

	/* 03 Community */

	/* 04 Events */

	/* 05 About Us */

	/* 06 Microbes */

	/* 07 Sign-in */
}
@media (min-width: 480px)and(max-width: 767){
	/* 01 About page */

	/* 02 Blog */

	/* 03 Community */

	/* 04 Events */

	/* 05 About Us */

	/* 06 Microbes */

	/* 07 Sign-in */

}

@media (max-width: 480px) {                          // Landscape phones and down
 }
@media (max-width: 767px) {
	.events {
		margin-top: 0px;
		header{
			overflow: auto;
			height: auto;
			padding-bottom: 12px;
		}
		nav{
			width:100%;
			.banner {
				display: none;
			}
			ul {
				margin: 0 auto;
				float: none;
			}
		}
	}
	.panel div.image-container img {
		width: 100%;
	}
	.crud {
		padding-left: 0;
		width:100%;
		.panel{
			width:auto;
			float: none;
			img {
				width:100%;
			}
		}
		.main-panel{
			float: none;
			max-width: none;
			width:100%;
			p {
				width:100%;
			}
		}
	}
 }                       
@media (min-width: 768px) and (max-width: 979px) {  // Portrait tablet to landscape and desktop
	.events nav {
		width:710px;
		.banner {
			width: 120px;
			margin-top: -7px;
			margin-left: 30px
		}
	}
	.crud {
		width:710px;
		.main-panel{
			width: 360px
		}
	}
 } 
@media (min-width: 1200px) {
}

@media (min-width: 454px) { 

	.wide-container > div > section {
		width: 374px;
		margin: 0px auto;
	}	
	.wide-container a.button {
		margin-right: 38px;
	}
}

@media (min-width: 803px) { 

	.wide-container > div > section {
		width: 723px;
		margin: 0px auto;
	}	
}

@media (min-width: 1152px) { 

	.wide-container > div > section {
		width: 1072px;
		margin: 0px auto;
	}	

	#mce-EMAIL {
	position: inherit;
	width: 50%;
	}

}

@media (min-width: 1501px) { 

	.wide-container > div > section {
		width: 1421px;
		margin: 0px auto;
	}	
}

@media (min-width: 1850px) { 

	.wide-container > div > section {
		width: 1770px;
		margin: 0px auto;
	}	
}

@media (min-width: 2199px) { 

	.wide-container > div > section {
		width: 2119px;
		margin: 0px auto;
	}	
}

@media (min-width: 2548px) { 

	.wide-container > div > section {
		width: 2468px;
		margin: 0px auto;
	}	
}